<div class="lds-css ng-scope">
  <div class="lds-spin" style="margin:auto;height:auto; vertical-align: middle;">
    <div>
      <div>
      </div>
    </div>
    <div>
      <div>
      </div>
    </div>
    <div>
      <div>
      </div>
    </div>
    <div>
      <div>
      </div>
    </div>
    <div>
      <div>
      </div>
    </div>
    <div>
      <div>
      </div>
    </div>
    <div>
      <div>
      </div>
    </div>
    <div>
      <div>
      </div>
    </div>
    <div>
      <div>
      </div>
    </div>
    <div>
      <div>
      </div>
    </div>
  </div>
</div>